.jumbotron {
    background-color:gray;
    color: white;
}

.btn {
    background-color: rgb(84, 140, 185);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: gainsboro;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}